@page "/bodyflow"
@using FlowCoach.Components
@inject NavigationManager Navigation

@if (BodyFlowCards != null)
{
    <HeaderTitle Title="@title" BackUrl="@backUrl" />
    <h4>Articles</h4>
    <div id="MainContent">
        @foreach (var card in BodyFlowCards)
        {
            <!--Change path to be a part of a card maybe?-->
            <CardComponent Title="@card.Title" Id="@card.BodyFlowArticleId" Image="@card.ImageUrl" Path="/bodyflowpage" />
        }
    </div>
}
else
{
    <strong role="status" style="color: #ffffff">Loading...</strong>

}
@code {
    private HubConnection hubConnection;

    private List<BodyFlowCard> BodyFlowCards;

    public string title = "Bodyflow Articles"; //used for the header
    public string backUrl = "/"; //used for the header back-arrow to go back to the previous page

    protected async override void OnInitialized()
    {
        hubConnection = new HubConnectionBuilder()
          .WithUrl(Navigation.ToAbsoluteUri("https://localhost:7003/bodyflowhub"))
          .Build();

        await hubConnection.StartAsync();
        BodyFlowCards = await hubConnection.InvokeAsync<List<BodyFlowCard>>("GetBodyflowCards");


        StateHasChanged();
        base.OnInitialized();
    }

}