@page "/bodyflow"
@using FlowCoach.Components
@inject NavigationManager Navigation
@inject SignalRService Hub
@using FlowCoach.Common
@using FlowCoach.UserFrontend.Data 

@if (BodyFlowCards != null)
{
    <HeaderTitle Title="@title" BackUrl="@backUrl" />
    <h4>Articles</h4>
    <div id="MainContent">
        @foreach (var card in BodyFlowCards)
        {
            <!--Change path to be a part of a card maybe?-->
            <CardComponent Title="@card.Title" Id="@card.BodyFlowArticleId" Image="@card.ImageUrl" Path="/bodyflowpage" />
        }
    </div>
}
else
{
    <strong role="status" style="color: #ffffff">Loading...</strong>

}
@code {
    private List<BodyFlowCard> BodyFlowCards;

    public string title = "Bodyflow Articles"; //used for the header
    public string backUrl = "/"; //used for the header back-arrow to go back to the previous page

    protected async override void OnInitialized()
    {
        await Hub.StartConnectionAsync();
        BodyFlowCards = await Hub.HubConnection.InvokeAsync<List<BodyFlowCard>>(nameof(IFlowCoachHub.GetBodyflowCards));

        StateHasChanged();
    }

}