@page "/emotionPanel"
@inject NavigationManager Navigation
@inject SignalRService Hub
@using FlowCoach.Common
@using FlowCoach.UserFrontend.Data
@using FlowCoach.Components

@if (emotionCards != null)
{
    <HeaderTitle Title="@title" BackUrl="@backUrl" />

    <h4>Lige nu føler jeg mig</h4>

    <div id="MainContent">
        @foreach (var card in emotionCards)
        {
            <!--Change path to be a part of a card maybe?-->
            <CardComponent Title="@card.Title" Id="@card.CoachingId" Image="@card.ImageUrl" Path="/EmotionPage" />
        }
    </div>
}
else
{
    <strong role="status" style="color: #ffffff">Loading...</strong>
}
@code {

    private List<EmotionCard> emotionCards;

    public string title = "Emotion Panel"; //used for the header
    public string backUrl = "/"; //used for the header back-arrow to go back to the previous page

    protected async override void OnInitialized()
    {
        await Hub.StartConnectionAsync();
        emotionCards = await Hub.HubConnection.InvokeAsync<List<EmotionCard>>(nameof(IFlowCoachHub.GetEmotionCardsAsync));

        StateHasChanged();
    }

}
