@page "/selfcarePanel"
@using FlowCoach.Components
@inject SignalRService Hub
@using FlowCoach.Common
@using FlowCoach.UserFrontend.Data
@inject NavigationManager Navigation

@if (selfCareCards != null)
{
    <HeaderTitle Title="@title" BackUrl="@backUrl" />

    <h4>Lige nu føler jeg mig</h4>

    <div id="MainContent">
        @foreach (var card in selfCareCards)
        {
            <!--Change path to be a part of a card maybe?-->
            <CardComponent Title="@card.Title" Id="@card.SelfCareArticleId" Image="@card.ImageUrl" Path="/selfcarepage" />
        }
    </div>
}
else
{
    <strong role="status" style="color: #ffffff">Loading...</strong>
}
@code {

    private List<SelfCareCard> selfCareCards;

    public string title = "Selfcare Panel"; //used for the header
    public string backUrl = "/"; //used for the header back-arrow to go back to the previous page

    protected async override void OnInitialized()
    {
        await Hub.StartConnectionAsync();
        selfCareCards = await Hub.HubConnection.InvokeAsync<List<SelfCareCard>>(nameof(IFlowCoachHub.GetSelfCareCardsAsync));

        StateHasChanged();
    }

}
